force-app/main/default/flows/Create_Test_Drive_Appoinemnt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the Appointment Confirmation Message</description>
        <name>Appointment_Confirmation</name>
        <label>Appointment Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>appointmentConfirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentScheduledConfirmation</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the Appointment Failure Message</description>
        <name>Appointment_Failure</name>
        <label>Appointment Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>appointmentConfirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create Test Drive Appointment</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check whether the Asset Service Resource for the Vehicle Exists</description>
        <name>Check_Vehicle_Resource_Exists</name>
        <label>Check Vehicle Resource Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Appointment_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicle_Service_Resource_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Drive_Service_Appointment</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Flow to create Service Appointment Record for Test Drive</description>
    <environments>Default</environments>
    <formulas>
        <description>Appointment Scheduled Confirmation Message</description>
        <name>appointmentScheduledConfirmation</name>
        <dataType>String</dataType>
        <expression>&apos;Your Test Drive has been successfully Scheduled. Please find the following Appointment Number: &apos;+ {!Create_Test_Drive_Service_Appointment.AppointmentNumber}</expression>
    </formulas>
    <interviewLabel>Create Test Drive Appoinemnt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Drive Appoinemnt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Assigned Resource Record for the Vehicle Asset</description>
        <name>Create_Assigned_Resource_Record</name>
        <label>Create Assigned Resource Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Coordinator_Acc_Team_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>Create_Test_Drive_Service_Appointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Vehicle_Service_Resource_Service_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a Service Appointment for Test Drive</description>
        <name>Create_Test_Drive_Service_Appointment</name>
        <label>Create Test Drive (Service Appointment)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>scheduledstartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>scheduledstartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>scheduledEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>scheduledstartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Vehicle Test Drive Appointment</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Test Drive Coordinator (Acc Team Member).</description>
        <name>Get_Test_Drive_Coordinator_Acc_Team_Member</name>
        <label>Get Test Drive Coordinator (Acc Team Member)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test Drive Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle_Service_Resource_Service_Resource.Asset.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Service Resource Record of Type Asset which is the Vehicle Asset</description>
        <name>Get_Vehicle_Service_Resource_Service_Resource</name>
        <label>Get Vehicle Service Resource (Service Resource)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vehicle_Resource_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vehicleModel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Owner_Lead</name>
        <label>Update Lead Owner (Lead)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Test_Drive_Coordinator_Acc_Team_Member.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Service_Resource_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Appointment Confirmation Message</description>
        <name>appointmentConfirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Scheduled End Date Time for Test Drive</description>
        <name>scheduledEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Scheduled Start Date Time for Test Drive</description>
        <name>scheduledstartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the Vehicle Model</description>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
